# Python virtual environments
env/
venv/
.venv/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# System files
.DS_Store
Thumbs.db

# Logs
*.log

# Jupyter notebooks checkpoints
.ipynb_checkpoints/

# Streamlit cache
.streamlit/

# Dataset / large files (optional if you want to exclude from repo)
# cleaned_data.jsonl

# Generated PDFs & audio
*.pdf
*.mp3
*.wav
*.ogg

# Large binaries
env/Lib/site-packages/
